@media screen and (min-width:992px){
    button.nav__toggle,.nav__menu--mobile{
        display: none;
    }
    
    
}
@media screen and (max-width:991px){
    .user{
        position: absolute;
        right: 3rem;
        margin-right: 0.5rem;
        

    }
    
    .notification__container{
        min-width: none!important;
        width: 100vw!important;
        right: -100px!important;
    }
    #user-drop{
        right: -50px!important;

    }
    .search-box{
        button.ti-search {
            padding: 0 25px!important;
            border-bottom: 4px solid #754ffe!important;
            cursor: pointer;
            line-height: 53px;
            background: #754ffe ;
        }
        input{
            display: none;
        }
    }
    .nav__navbar{

        padding: 1rem 0.75rem;
        position: fixed;
        right: 60%;
        left: 0;
        bottom: 0;
        top: 53px;
        flex-direction:column;
        background: #fff;
        transition: all .5s ease-in-out;
        &>li{
           
            width: 100%;
            margin: .375rem 0;
            border-bottom: 2px solid #754ffe31!important;

        }
        // display: none;
        // opacity: 0;
        // visibility: hidden;
    }
    .notification{
        margin-right: .5rem!important;
    }
    .drop__containers:not(#user-drop){
        min-width: 11rem!important;
        position: fixed;
        top: 50px;
        left:40%;
    }
    a.dropdown__toggle{
        position: relative;
        width: 100%;
        i.ti-angle-down{
            z-index: -1!important;
            position: absolute;
            right: .25rem;
            
        }
    }
    .sub{
        
        max-width: 1rem!important;
        position: fixed!important;
        top: 0px!important;
        left: -11rem!important;

        
    }
    .active{
        display: block!important;
        opacity: 1;
        visibility: visible;
    }
    .hidden{
        display: none!important;
    }



}
@media screen and (max-width:640px){
    nav {
        padding: 0.625rem 0.5rem; 
    }
}
@media screen and (max-width:380px){

}