@media (max-width:1200px) {
    .grid {
        max-width: 960px;
    }

    .col-1 {
        width: 50% !important;
        ;
    }
}

@media screen and (min-width:992px) {
    button.nav__toggle {
        display: none;
    }

    button#-submit {
        display: none !important;
    }

}

@media screen and (max-width:991px) {
    .user {
        position: absolute;
        right: 3rem;
        margin-right: 0.5rem;


    }

    .notification__container {
        min-width: none !important;
        right: -100px !important;
    }

    #user-drop {
        right: -50px !important;

    }

    .search-box {
        button#b-toggle {
            padding: 0 20px !important;
            margin-left: -25px;
            border-bottom: 4px solid #754ffe !important;
            cursor: pointer;
            line-height: 53px;
            background: #754ffe;
        }

        button#b-submit {
            display: block;
            background: transparent;
            border: none;
            position: fixed;
            left: .75rem;
            top: 60px;
            line-height: 53px;
            cursor: pointer;
            padding: 0 20px !important;

        }

        input {
            width: 90% !important;
            position: fixed;
            left: 1rem;
            right: 0;
            top: 60px;
            box-shadow: 0 0 20px -8px #18103654;
            border: 1px solid #754ffe;
            padding: 1rem 1rem 1rem 2.5rem !important;

        }

    }

    .nav__navbar {

        padding: 1rem 0.75rem;
        position: fixed;
        right: 60%;
        left: 0;
        bottom: 0;
        top: 53px;
        flex-direction: column;
        background: #fff;
        transition: all .5s ease-in-out;

        &>li {

            width: 100%;
            margin: .375rem 0;
            border-bottom: 2px solid #754ffe31 !important;

        }

        // display: none;
        // opacity: 0;
        // visibility: hidden;
    }

    .notification {
        margin-right: .5rem !important;
    }

    .drop__containers:not(#user-drop) {
        min-width: 11rem !important;
        position: fixed;
        top: 50px;
        left: 40%;
    }

    a.dropdown__toggle {
        position: relative;
        width: 100%;

        i.ti-angle-down {
            z-index: -1 !important;
            position: absolute;
            right: .25rem;

        }
    }

    .sub {
        max-width: 8rem !important;
        text-align: right;
        position: fixed !important;
        top: 0px !important;
        left: -11rem !important;


    }

    .active {
        display: block !important;
        opacity: 1;
        visibility: visible;
    }

    .hidden {
        display: none !important;
    }

    .grid {
        max-width: 720px;
    }

    .col-1 {
        padding-top: 2.5rem;
        width: 100% !important;
    }

    .col-2 {
        padding-top: 2.5rem;
        margin: 0 auto;
        width: 80% !important;


    }

    .info-items {
        margin-bottom: 1rem !important;
    }
}

@media (max-width:770px) {
    .grid {
        max-width: 540px;
    }

    .col-2 {
        padding-top: 2.5rem;
        margin: 0 auto;
        width: 100% !important;


    }

    .info-items {
        width: 100%;
    }

    .col-1>p {

        margin-bottom: 1.75rem !important;
    }
    
    footer{
        flex-direction: column;
        align-items: center;
        text-align: center;
        ul{
            margin-top: .5rem !important; 
            li{
                padding:0 1rem;
                margin: 0!important;
            }
        }
    }
}

@media (max-width:600px) {
    .hero {
        padding: 0 1rem;
    }

    .info-items {
        padding: 0 1rem;

    }

    .slideshow-container {
        padding: 0 1rem;
    }
    .next{
        right: 1rem;
    }
    .carou-title{
        margin-left: 1rem;
    }
}

@media screen and (max-width:550px) {
    nav {
        padding: 0.625rem 0.5rem;
    }

    .notification__container {
        min-width: none !important;
        width: 96vw !important;
        right: -109px !important;
    }

    .drop-list {
        min-width: 11rem !important;
    }

}

@media screen and (max-width:380px) {
    .nav__logo {
        transform: scale(0.8);
        margin-left: -16px;
    }

    .btn-1 {
        margin-bottom: .5rem;
    }

    button#b-toggle {
        margin-left: -35px !important;

    }
}