@mixin appearance {
    //hover drop down menu effect
    visibility: visible !important;
    opacity: 1 !important;
    transform: scaleY(1) !important;

}

@media screen and (min-width:992px) {
    button.nav__toggle {
        display: none;
    }

    button#-submit {
        display: none !important;
    }

    //1
    nav {
        a:not(.drop-header):hover {
            color: #5e3fcb;
        }
    }

    //2
    .dropdown__menu {

        &:hover>.drop__containers {
            @include appearance();
        }
    }

    //3
    .notification {
        &:hover>.notification__container {
            @include appearance();
        }
    }

    //4
    .notify_header {
        i {
            &:hover {
                opacity: 1;
                transform: rotate(5turn);
                transform: scale(1.4);
            }
        }
    }

    //5,6
    .status-remove {
        span.status {

            &:hover {
                transform: scale(1);
            }
        }

        i:hover {
            transform: scale(1.2);
            transform: rotate(1turn);
        }
    }

    //7,8
    .notification {
        &:hover a::before {
            transform: scale(1);

        }

        &:hover i.ti-bell {
            color: rgb(0, 0, 0);
        }
    }

    //9
    .user-box {
        &:hover a.avatar::before {

            transform: scale(0.875);

        }
    }

    //10
    .drop__containers {
        li:not(li.drop-header):hover {
            color: #5e3fcb;
            background: #9477fc27;

        }

        li.sub-toggle:hover>ul.drop__containers {
            @include appearance();
        }

        .drop-item {
            .drop-item:hover {
                background: #fff;
            }
        }

        .drop-list {
            &:hover {
                background: #9477fc27;
                cursor: pointer;
                color: #4815ff;
            }
        }
    }

    a.button:hover {

        background: #e5ddfc8f;
    }
}

@media screen and (max-width:991px) {
    .user {
        position: absolute;
        right: 3rem;
        margin-right: 0.5rem;


    }

    .notification__container {
        min-width: none !important;
        right: -100px !important;
    }

    #user-drop {
        right: -50px !important;

    }

    .search-box {
        button#b-toggle {
            padding: 0 20px !important;
            margin-left: -25px;
            border-bottom: 4px solid #754ffe !important;
            cursor: pointer;
            line-height: 53px;
            background: #754ffe;
        }

        button#b-submit {
            display: block;
            background: transparent;
            border: none;
            position: fixed;
            left: .75rem;
            top: 60px;
            line-height: 53px;
            cursor: pointer;
            padding: 0 20px !important;

        }

        input {
            width: 90% !important;
            position: fixed;
            left: 1rem;
            right: 0;
            top: 60px;
            box-shadow: 0 0 20px -8px #18103654;
            border: 1px solid #754ffe;
            padding: 1rem 1rem 1rem 2.5rem !important;

        }

    }

    .nav__navbar {

        padding: 1rem 0.75rem;
        position: fixed;
        right: 60%;
        left: 0;
        bottom: 0;
        top: 53px;
        flex-direction: column;
        background: #fff;
        transition: all .5s ease-in-out;

        &>li {

            width: 100%;
            margin: .375rem 0;
            border-bottom: 2px solid #754ffe31 !important;

        }

        // display: none;
        // opacity: 0;
        // visibility: hidden;
    }

    .notification {
        margin-right: .5rem !important;
    }

    .drop__containers:not(#user-drop) {
        min-width: 11rem !important;
        position: fixed;
        top: 50px;
        left: 40%;
    }

    a.dropdown__toggle {
        position: relative;
        width: 100%;

        i.ti-angle-down {
            z-index: -1 !important;
            position: absolute;
            right: .25rem;

        }
    }

    .sub {
        max-width: 8rem !important;
        text-align: right;
        position: fixed !important;
        top: 0px !important;
        left: -11rem !important;


    }

    .active {
        display: block !important;
        opacity: 1!important;
        visibility: visible!important;
    }

    .hidden {
        display: none !important;
    }
    

    // *{
    //     &:hover {

    //     }
    // }
}

@media screen and (max-width:550px) {
    nav {
        padding: 0.625rem 0.5rem;
    }

    .notification__container {
        min-width: none !important;
        width: 100vw !important;
        right: -109px !important;
    }

    .drop-list {
        min-width: 11rem !important;
    }
}

@media screen and (max-width:380px) {
    .nav__logo {
        transform: scale(0.8);
        margin-left: -16px;
    }

    button#b-toggle {
        margin-left: -35px !important;

    }
}