main {
  margin-top: 60px;
}

main .hero__container {
  background: #754ffe;
}

main .hero__container .hero {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .hero__container .hero .col-1 {
  width: 41.6666666%;
}

main .hero__container .hero .col-1 > h1 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bolder;
  line-height: 1.3;
  margin-bottom: .5rem;
  cursor: default;
}

main .hero__container .hero .col-1 p {
  font-size: 1.25rem;
  color: #ffffff62;
  line-height: 1.5;
  cursor: default;
  margin-bottom: 2.5rem;
}

main .hero__container .hero .col-1 .btn-1 {
  font-size: .95rem;
  font-weight: 500;
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 4px;
}

main .hero__container .hero .col-1 .btn-1:hover {
  opacity: 1;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 30px -15px #1f144941;
          box-shadow: 0 10px 30px -15px #1f144941;
}

main .hero__container .hero .col-1 .btn-purchase {
  background: #1ac493;
  color: white;
}

main .hero__container .hero .col-1 .btn-ques {
  opacity: 0.85;
  background: #fff;
  color: #000;
  -webkit-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

main .hero__container .hero .col-2 {
  width: 48.333333333%;
  margin-left: auto;
}

main .hero__container .hero .col-2 img {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
}

main .info {
  padding: 1.5rem 0;
  background: #fff;
  -webkit-box-shadow: 0 0 30px -10px rgba(51, 51, 51, 0.322);
          box-shadow: 0 0 30px -10px rgba(51, 51, 51, 0.322);
}

main .info .info-container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .info .info-container .info-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .info .info-container .info-items .icon-info {
  padding: 1rem;
  border-radius: 50%;
  background: rgba(255, 225, 190, 0.849);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .info .info-container .info-items .icon-info i.ti-user {
  position: relative;
}

main .info .info-container .info-items .icon-info i.ti-user::after {
  content: "\e69d";
  position: absolute;
  top: -3px;
  left: 2px;
  font-size: 0.75rem;
}

main .info .info-container .info-items .icon-info i {
  color: #644c2c;
}

main .info .info-container .info-items .info-detail {
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1.5;
}

main .info .info-container .info-items .info-detail h4 {
  font-weight: 500;
}

main .info .info-container .info-items .info-detail p {
  color: #9b98ab;
  font-size: .85rem;
}

main .carousel {
  margin: 0 auto;
}

main .carousel .carousel__container {
  position: relative;
}

main .carousel .carousel__container .carou-title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.grid {
  max-width: 1140px;
}

nav {
  z-index: 100;
}

.slideshow-container {
  overflow: hidden;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: rgba(0, 0, 0, 0.438);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  left: 0;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active2,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.footer {
  margin-top: 5rem;
  background: rgba(235, 235, 235, 0.329);
}

footer {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: .9rem;
  padding: 1rem 0;
  line-height: 1.5;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: rgba(77, 77, 77, 0.932);
}

footer ul.more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer ul.more li {
  margin-left: 2rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #fff;
  padding: .625rem 1rem;
}

nav a {
  padding-right: 1rem;
}

nav a:not(.drop-header):hover {
  color: #5e3fcb;
}

nav .nav__menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

nav .nav__menu .dropdown__menu {
  position: relative;
}

nav .nav__menu .dropdown__menu .dropdown__toggle {
  padding: .3125rem .55rem;
  font-size: .9rem;
  font-weight: 500;
}

nav .nav__menu .dropdown__menu .dropdown__toggle i {
  font-size: .5rem;
  padding-left: .5rem;
}

nav .nav__menu .dropdown__menu a.ti-more-alt {
  font-size: 1rem;
  padding: .3125rem .7rem;
}

nav .nav__menu .dropdown__menu:hover > .drop__containers {
  visibility: visible !important;
  opacity: 1 !important;
  -webkit-transform: scaleY(1) !important;
          transform: scaleY(1) !important;
}

nav .nav__menu form.search-box {
  margin-left: 1rem;
  position: relative;
}

nav .nav__menu form.search-box button#b-toggle {
  padding-left: 1rem;
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
}

nav .nav__menu form.search-box input[type="search"] {
  width: 17.5rem;
  border: 1px solid #754ffe9d;
  padding: .875rem 1.25rem;
  padding-left: 2.5rem;
  border-radius: .3125rem;
  font-size: .9rem;
}

nav .nav__menu form.search-box input[type="search"]:focus {
  outline: 0;
  border-color: #754ffe;
  -webkit-box-shadow: 0 0 0 3px rgba(231, 225, 253, 0.75);
          box-shadow: 0 0 0 3px rgba(231, 225, 253, 0.75);
}

nav .nav__menu .user {
  padding: 0.175rem;
  margin-left: auto;
}

nav .nav__menu .user img {
  border-radius: 50%;
}

nav .nav__menu .user .notification {
  margin-right: 1rem;
  position: relative;
}

nav .nav__menu .user .notification:hover > .notification__container {
  visibility: visible !important;
  opacity: 1 !important;
  -webkit-transform: scaleY(1) !important;
          transform: scaleY(1) !important;
}

nav .nav__menu .user .notification .notification__container {
  right: 0;
  min-width: 22rem;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  margin: .725rem 0;
  padding: 1rem 0;
  border-radius: .875rem;
  position: absolute;
  background: #ffffff !important;
  -webkit-transition: all .275s ease-in-out !important;
  transition: all .275s ease-in-out !important;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-box-shadow: 0 0 30px -10px rgba(51, 51, 51, 0.144);
          box-shadow: 0 0 30px -10px rgba(51, 51, 51, 0.144);
}

nav .nav__menu .user .notification .notification__container .notify_header {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav__menu .user .notification .notification__container .notify_header h5 {
  font-weight: 400;
  font-size: .875rem;
}

nav .nav__menu .user .notification .notification__container .notify_header i {
  cursor: pointer;
  opacity: 0.4;
  -webkit-transition: all .34s ease-in-out;
  transition: all .34s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform: rotate(0.5turn);
          transform: rotate(0.5turn);
}

nav .nav__menu .user .notification .notification__container .notify_header i:hover {
  opacity: 1;
  -webkit-transform: rotate(5turn);
          transform: rotate(5turn);
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

nav .nav__menu .user .notification .notification__container .notify-content {
  overflow: auto;
  height: 300px;
  width: auto;
}

nav .nav__menu .user .notification .notification__container .notify-content::-webkit-scrollbar {
  display: none;
}

nav .nav__menu .user .notification .notification__container .notify-content .notify--detail {
  border-bottom: 1px solid rgba(44, 44, 44, 0.219);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.116);
  padding: 1rem;
}

nav .nav__menu .user .notification .notification__container .notify-content .notify--detail .main-notify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav__menu .user .notification .notification__container .notify-content .notify--detail .main-notify img {
  border-radius: 50%;
}

nav .nav__menu .user .notification .notification__container .notify-content .notify--detail .main-notify .idunno {
  margin-left: 1rem;
}

nav .nav__menu .user .notification .notification__container .notify-content .notify--detail .main-notify .idunno h5 {
  font-size: .975rem;
  font-weight: 400;
}

nav .nav__menu .user .notification .notification__container .notify-content .notify--detail .main-notify .idunno p {
  font-size: .875rem;
  font-weight: 300;
}

nav .nav__menu .user .notification .notification__container .notify-content .notify--detail .main-notify .idunno span.span--text__wrapper {
  display: block;
  margin-top: 1rem;
  font-size: .785rem;
  color: #777777;
}

nav .nav__menu .user .notification .notification__container .notify-content .notify--detail .main-notify .idunno i {
  margin-right: 0.5rem;
  color: #00d447;
  font-size: .875rem;
}

nav .nav__menu .user .notification .notification__container .notify-content .notify--detail .status-remove {
  margin-left: 1rem;
}

nav .nav__menu .user .notification .notification__container .notify-content .notify--detail .status-remove span.status {
  background: #00d447;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  margin-bottom: .55rem;
  -webkit-transition: all 0 0.15s ease-in-out;
  transition: all 0 0.15s ease-in-out;
  -webkit-transform: scale(0.68);
          transform: scale(0.68);
  cursor: pointer;
  display: block;
}

nav .nav__menu .user .notification .notification__container .notify-content .notify--detail .status-remove span.status:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

nav .nav__menu .user .notification .notification__container .notify-content .notify--detail .status-remove i {
  font-size: .55rem;
  display: block;
  -webkit-transition: all .34s ease-in-out;
  transition: all .34s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform: rotate(0turn);
          transform: rotate(0turn);
  cursor: pointer;
}

nav .nav__menu .user .notification .notification__container .notify-content .notify--detail .status-remove i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
}

nav .nav__menu .user .notification a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background: rgba(219, 219, 219, 0.288);
  border-radius: 50%;
  border: 1px solid rgba(221, 220, 220, 0.575);
  padding: 0;
}

nav .nav__menu .user .notification a i.ti-bell {
  font-size: .9rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: #949494;
}

nav .nav__menu .user .notification a::before {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  background-color: #754ffe;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

nav .nav__menu .user .notification:hover a::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

nav .nav__menu .user .notification:hover i.ti-bell {
  color: black;
}

nav .nav__menu .user .user-box {
  position: relative;
}

nav .nav__menu .user .user-box a.avatar {
  padding: 0;
  cursor: pointer;
}

nav .nav__menu .user .user-box a.avatar::before {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  background-color: #00d447;
  position: absolute;
  border: 2px solid #fff;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

nav .nav__menu .user .user-box a.avatar img {
  width: 2.5rem;
  height: 2.5rem;
}

nav .nav__menu .user .user-box:hover a.avatar::before {
  -webkit-transform: scale(0.875);
          transform: scale(0.875);
}

nav .nav__menu .user .user-box ul {
  position: absolute;
  right: 0;
  min-width: 15rem;
}

nav .nav__menu .user .user-box ul > li:not(.user--header) {
  text-align: right;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .nav__menu .user .user-box ul > li:not(.user--header) a {
  display: inline-block;
  padding-right: 0.5rem;
}

nav .nav__menu .user .user-box ul > li:not(.user--header) i {
  padding-right: 1rem;
}

.algin-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drop__containers {
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  margin: .725rem 0;
  padding: 1rem 0;
  border-radius: .875rem;
  position: absolute;
  background: #ffffff !important;
  -webkit-transition: all .275s ease-in-out !important;
  transition: all .275s ease-in-out !important;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-box-shadow: 0 0 30px -10px rgba(51, 51, 51, 0.144);
          box-shadow: 0 0 30px -10px rgba(51, 51, 51, 0.144);
  min-width: 12rem;
  z-index: 1;
}

.drop__containers li:not(li.drop-header):hover {
  color: #5e3fcb;
  background: #9477fc27;
}

.drop__containers .sub-toggle {
  -webkit-transition: all .25s ease-in-out !important;
  transition: all .25s ease-in-out !important;
}

.drop__containers li.sub-toggle:hover > ul.drop__containers {
  visibility: visible !important;
  opacity: 1 !important;
  -webkit-transform: scaleY(1) !important;
          transform: scaleY(1) !important;
}

.drop__containers .drop-item {
  z-index: 3;
  position: relative;
}

.drop__containers .drop-item a {
  position: relative;
  font-size: .875rem;
  font-weight: inherit;
  line-height: 28px;
  display: block;
  padding: .125rem 1.2rem;
}

.drop__containers .drop-item a i {
  font-size: 0.6rem;
  position: absolute;
  right: 0;
  line-height: 28px;
  padding: .125rem 1.2rem;
}

.drop__containers .drop-item .drop-item:hover {
  background: #fff;
}

.drop__containers .drop-list {
  line-height: 1.55;
  min-width: 17rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .75rem 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drop__containers .drop-list:hover {
  background: #9477fc27;
  cursor: pointer;
  color: #4815ff;
}

.drop__containers .drop-list i {
  color: #754ffe;
}

.drop__containers .drop-list div.list-content {
  margin-left: 1rem;
}

.drop__containers .drop-list div.list-content .text-header {
  font-size: .875rem;
  font-weight: 500;
}

.drop__containers .drop-list div.list-content .text-header span {
  color: #754ffe;
}

.drop__containers .drop-list div.list-content p {
  font-size: .75rem;
}

.drop__containers hr {
  margin: 1rem;
  color: #ecebf1;
  opacity: 0.4;
}

.drop__containers li.drop-header a {
  color: #a8a3b9;
  cursor: default;
  text-transform: uppercase;
  font-size: .75rem;
}

.sub {
  top: -50%;
  left: 100%;
  visibility: hidden !important;
  opacity: 0;
  z-index: 5;
}

.text__wrapper {
  padding: .125rem 1.2rem;
}

.text__wrapper h5 {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: .725rem;
  margin-bottom: 1rem;
}

.text__wrapper p {
  font-size: .75rem;
  color: #a8a3b9;
}

.user--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.user--header h5 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: right;
}

.user--header p {
  font-size: .85rem;
  color: #626262;
  font-weight: 400;
}

.button {
  text-align: center;
  background: #754ffe;
  border: 1px solid #754ffe;
  border-radius: 5%;
  color: #fff;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

a.button:hover {
  background: #e5ddfc8f;
}

a.button:active {
  background: #b39cffb4;
}

.pad-top {
  padding-top: 1rem !important;
}

.pad-top-5 {
  padding-top: 5rem !important;
}

.pad-bot {
  padding-bottom: 1rem !important;
}

.nav__toggle {
  position: absolute;
  right: 0.5rem;
  min-width: 40px;
  min-height: 40px;
  padding: 0.25rem;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: 1px solid #754ffe;
  border-radius: 12.5%;
}

.nav__toggle .stick {
  width: 28px;
  height: 4px;
  background: #754ffe;
  margin: 0.125rem;
  -webkit-transition: all .225s ease-in-out;
  transition: all .225s ease-in-out;
}

.r-45 {
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.r45 {
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

button#b-submit {
  display: none;
}
/*# sourceMappingURL=style.css.map */