//phân tích thành phần thẻ HTML 
//tạo frame cho  web
//viết HTML
//style
//responsive
//add javasript effect 
//chình sủa thành anime theme
//design icon , tìm image
//public
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f4f8;
}

html {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style-type: none;
}

nav {
    background: #fff;
    padding: .625rem 1rem;

    a {
        padding-right: 1rem;

    }

    a:hover {
        color: #5e3fcb;
    }

    .nav__menu {


        flex-grow: 1;

        .nav__navbar {
            .dropdown__menu {
                
                position: relative;

                .dropdown__toggle {
                    padding: .3125rem .55rem;
                    font-size: .9rem;
                    font-weight: 500;

                    i {
                        font-size: .5rem;
                        padding-left: .5rem;
                    }

                }

                // &:hover .drop__containers {
                //     display: block;
                // }
                

                a.ti-more-alt {
                    font-size: 1rem;
                    padding: .3125rem .7rem;
                }

                &:hover > .drop__containers {
                    visibility:visible;
                    opacity: 1;
                    transform: scaleY(1);
                    
                    
                }
            }
        }

        form.search-box {
            margin-left: 1rem;
            position: relative;

            button.ti-search {
                padding-left: 1rem;
                position: absolute;
                background: transparent;
                border: none;
                cursor: pointer;
            }

            input[type="search"] {
                width: 17.5rem;
                border: 1px solid #754ffe38;
                padding: .875rem 1.25rem;
                padding-left: 2.5rem;
                border-radius: .3125rem;
                font-size: .9rem;
            }

            input[type="search"]:focus {
                outline: 0;
                border-color: #754ffe;
                box-shadow: 0 0 0 3px rgba(231, 225, 253, .75);

            }
        }

        .user {
            padding: 0.175rem;
            margin-left: auto;

            .notification {
                position: relative;

                a {
                    justify-content: center;
                    width: 2.5rem;
                    height: 2.5rem;
                    background: rgba(219, 219, 219, 0.288);
                    border-radius: 50%;
                    border: 1px solid rgba(221, 220, 220, 0.575);
                    padding: 0;

                    i.ti-bell {
                        font-size: .9rem;
                        transition: all .2s ease-in-out;
                        color: rgb(148, 148, 148);
                    }

                }

                a::before {
                    content: "";
                    width: 0.75rem;
                    height: 0.75rem;
                    background-color: #754ffe;
                    position: absolute;
                    top: 0;
                    right: 0;
                    border-radius: 50%;
                    transition: all .2s ease-in-out;
                    transform: scale(.75);
                }

                &:hover a::before {
                    transform: scale(1);

                }

                &:hover i.ti-bell {
                    color: rgb(0, 0, 0);
                }
                
            }
            .user-box {
                position: relative;

                a.avatar {
                    padding: 0;
                    cursor: pointer;

                    &::before {
                        content: "";
                        width: 0.75rem;
                        height: 0.75rem;
                        background-color: #00d447;
                        position: absolute;
                        border: 2px solid #fff;
                        bottom: 0;
                        right: 0;
                        border-radius: 50%;
                        transition: all .2s ease-in-out;
                        transform: scale(.75);
                    }

                    img {
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                }

                &:hover a.avatar::before {

                    transform: scale(0.875);

                }
            }
        }
    }

}

.algin-vertical {
    display: flex;
    align-items: center;
}

.drop__containers {
    visibility: hidden;
    opacity:0;
    min-width: 12rem;
    margin: .725rem 0;
    padding: 1rem 0;
    border-radius: .875rem;
    position: absolute;
    background: #ffffff;
    transition: all .275s ease-in-out!important;           
    transform:translateY(20px);
    box-shadow: 0 0 30px -10px rgba(51, 51, 51, 0.144);
    .sub-toggle{
        transition: all .25s ease-in-out!important;           
    }
    li.sub-toggle:hover >ul.drop__containers {
        visibility: visible !important;
        opacity: 1!important;
        transform: scaleY(1)!important;
    
    }
    li.drop-item {
        position: relative;
        
        a {
            position: relative;
            font-size: .875rem;
            font-weight: inherit;
            line-height: 28px;
            display: block;
            padding: .125rem 1.2rem;

            i {
                font-size: 0.6rem;
                position: absolute;
                right: 0;
                line-height: 28px;
                padding: .125rem 1.2rem;
            }
        }

        .drop-item:hover {
            background: #fff;
        }
    }
    .drop-list{
        line-height:1.55;
        min-width: 17rem;
        display: flex;
        padding: .75rem 1.25rem;
        align-items: center;
        i{
            color:#754ffe;
        }
        div.list-content{
            margin-left: 1rem;
            .text-header{
                font-size: .875rem;
                font-weight: 500;
                
                span {
                    color: #754ffe
                }
            }
            p{
                font-size: .75rem;
            }
        }
    }
    hr{

        margin: 1rem ;
        color: #ecebf1;
        opacity: 0.4;
    }
    li.drop-header{
        a{
            color: #a8a3b9;
            cursor: default;
            text-transform: uppercase;
            font-size: .75rem;

        }
    }
}

.sub{
    top: -50%;
    left: 100%;
    visibility: hidden!important;
    opacity:0;
    
}
.text__wrapper{
    
    padding: .125rem 1.2rem;
    h5{
        font-weight: 400;
        letter-spacing:1px;
        font-size: .725rem;
        margin-bottom: 1rem;
    }
    p{
        font-size: .75rem;
        color: #a8a3b9;
    }
}
.button{
    text-align: center;
    background: #754ffe;
    border: 1px solid #754ffe;
    border-radius: 5%;
    color:#fff;
}