* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f5f4f8;
}

html {
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

nav {
  background: #fff;
  padding: .625rem 1rem;
}

nav a {
  padding-right: 1rem;
}

nav a:hover {
  color: #5e3fcb;
}

nav .nav__menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

nav .nav__menu .nav__navbar .dropdown__menu {
  position: relative;
}

nav .nav__menu .nav__navbar .dropdown__menu .dropdown__toggle {
  padding: .3125rem .55rem;
  font-size: .9rem;
  font-weight: 500;
}

nav .nav__menu .nav__navbar .dropdown__menu .dropdown__toggle i {
  font-size: .5rem;
  padding-left: .5rem;
}

nav .nav__menu .nav__navbar .dropdown__menu a.ti-more-alt {
  font-size: 1rem;
  padding: .3125rem .7rem;
}

nav .nav__menu .nav__navbar .dropdown__menu:hover > .drop__containers {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

nav .nav__menu form.search-box {
  margin-left: 1rem;
  position: relative;
}

nav .nav__menu form.search-box button.ti-search {
  padding-left: 1rem;
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
}

nav .nav__menu form.search-box input[type="search"] {
  width: 17.5rem;
  border: 1px solid #754ffe38;
  padding: .875rem 1.25rem;
  padding-left: 2.5rem;
  border-radius: .3125rem;
  font-size: .9rem;
}

nav .nav__menu form.search-box input[type="search"]:focus {
  outline: 0;
  border-color: #754ffe;
  -webkit-box-shadow: 0 0 0 3px rgba(231, 225, 253, 0.75);
          box-shadow: 0 0 0 3px rgba(231, 225, 253, 0.75);
}

nav .nav__menu .user {
  padding: 0.175rem;
  margin-left: auto;
}

nav .nav__menu .user .notification {
  position: relative;
}

nav .nav__menu .user .notification a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background: rgba(219, 219, 219, 0.288);
  border-radius: 50%;
  border: 1px solid rgba(221, 220, 220, 0.575);
  padding: 0;
}

nav .nav__menu .user .notification a i.ti-bell {
  font-size: .9rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: #949494;
}

nav .nav__menu .user .notification a::before {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  background-color: #754ffe;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

nav .nav__menu .user .notification:hover a::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

nav .nav__menu .user .notification:hover i.ti-bell {
  color: black;
}

nav .nav__menu .user .user-box {
  position: relative;
}

nav .nav__menu .user .user-box a.avatar {
  padding: 0;
  cursor: pointer;
}

nav .nav__menu .user .user-box a.avatar::before {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  background-color: #00d447;
  position: absolute;
  border: 2px solid #fff;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

nav .nav__menu .user .user-box a.avatar img {
  width: 2.5rem;
  height: 2.5rem;
}

nav .nav__menu .user .user-box:hover a.avatar::before {
  -webkit-transform: scale(0.875);
          transform: scale(0.875);
}

.algin-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drop__containers {
  visibility: hidden;
  opacity: 0;
  min-width: 12rem;
  margin: .725rem 0;
  padding: 1rem 0;
  border-radius: .875rem;
  position: absolute;
  background: #ffffff;
  -webkit-transition: all 0.275s ease-in-out !important;
  transition: all 0.275s ease-in-out !important;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-box-shadow: 0 0 30px -10px rgba(51, 51, 51, 0.144);
          box-shadow: 0 0 30px -10px rgba(51, 51, 51, 0.144);
}

.drop__containers .sub-toggle {
  -webkit-transition: all 0.25s ease-in-out !important;
  transition: all 0.25s ease-in-out !important;
}

.drop__containers li.sub-toggle:hover > ul.drop__containers {
  visibility: visible !important;
  opacity: 1 !important;
  -webkit-transform: scaleY(1) !important;
          transform: scaleY(1) !important;
}

.drop__containers li.drop-item {
  position: relative;
}

.drop__containers li.drop-item a {
  position: relative;
  font-size: .875rem;
  font-weight: inherit;
  line-height: 28px;
  display: block;
  padding: .125rem 1.2rem;
}

.drop__containers li.drop-item a i {
  font-size: 0.6rem;
  position: absolute;
  right: 0;
  line-height: 28px;
  padding: .125rem 1.2rem;
}

.drop__containers li.drop-item .drop-item:hover {
  background: #fff;
}

.drop__containers .drop-list {
  line-height: 1.55;
  min-width: 17rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .75rem 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drop__containers .drop-list i {
  color: #754ffe;
}

.drop__containers .drop-list div.list-content {
  margin-left: 1rem;
}

.drop__containers .drop-list div.list-content .text-header {
  font-size: .875rem;
  font-weight: 500;
}

.drop__containers .drop-list div.list-content .text-header span {
  color: #754ffe;
}

.drop__containers .drop-list div.list-content p {
  font-size: .75rem;
}

.drop__containers hr {
  margin: 1rem;
  color: #ecebf1;
  opacity: 0.4;
}

.drop__containers li.drop-header a {
  color: #a8a3b9;
  cursor: default;
  text-transform: uppercase;
  font-size: .75rem;
}

.sub {
  top: -50%;
  left: 100%;
  visibility: hidden !important;
  opacity: 0;
}

.text__wrapper {
  padding: .125rem 1.2rem;
}

.text__wrapper h5 {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: .725rem;
  margin-bottom: 1rem;
}

.text__wrapper p {
  font-size: .75rem;
  color: #a8a3b9;
}

.button {
  text-align: center;
  background: #754ffe;
  border: 1px solid #754ffe;
  border-radius: 5%;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */